In [123]:
#UN kpi est un indicateur clé de performance, utilisés dans des tableaux de bord de gestion
import seaborn as sns
import pandas as pd
import warnings
import matplotlib.pyplot as plt
import numpy
warnings.filterwarnings('ignore')

In [124]:
data = pd.read_csv('data/resto.csv')
data.head(10)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [125]:
len(data)
#taille du dataset

4622

In [126]:
#colonnes dataset
data.columns

Index(['Unnamed: 0', 'order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [127]:
data.groupby("item_name").sum().sort_values(["quantity"], ascending=False)[:1]

              Unnamed: 0  order_id  quantity
item_name
Chicken Bowl     1779909    713926       761

In [128]:
data["quantity"].sum()

4972

In [133]:
data['item_price'] = pd.to_numeric(data['item_price'])
data['item_total_price'] = (data['item_price'] * data['quantity'])
data['item_total_price'].sum()

39237.02

In [134]:
data.groupby("order_id")['item_total_price'].sum().mean()

21.39423118865867